body {
  /* font-family: Helvetica, sans-serif;
  background-color: #000000;
  color: #ffffff; */
  padding-top: 80px;
}

/* ---------- Navbar ---------- */
nav {
  border-bottom: 1px solid red;
}

/* ---------- Sections ---------- */


/* ---------- Project Grid ---------- */


/* ---------- Footer ---------- */
footer {
  border-top: 1px solid red;
}

#github-link, #linkedin-link:hover {
  color: red;
  transform: translateY(8px);
}

/* ---------- Media Queries ---------- */
